<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Overview</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    crossorigin="anonymous"
  />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="basic"><p>A guide for how to use ShareCab</p></div>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <h4>
          Whether you’re running an errand across town or exploring a city far
          from home, getting there should be easy. Learn how to ride with the
          Uber app.
        </h4>

        <br />
        <a href="#" class="button">Sign Up to drive </a>
      </div>

      <div class="col-sm-6">
        <img
          src="images1/howit.jpg"
          class="img-circle"
          alt="Cinque Terre"
          width="500"
          height="400"
        />
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid text-center">
   <h1><b>Why ride with ShareCab?</b></h1>
    <br><br>
    <div id=ride>
    <div class="row">
    <img src="images/ride3.jpg" class="img-circle" alt="Cinque Terre"  margin-left:auto margin-right:auto width="500" height="400" > 
    </div>
    </div>
    </div> -->

  <!-- Container (About Section) -->
  <!-- <div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
        <br> <br> <br>
<h1><b>About ShareCab</b></h1>




<!-- Container (Services Section) -->

  <div class="container-fluid text-center ">
    <h1><b>How to use uber app </b></h1>

    <br />

    <div class="row">
      <div class="col-sm-4">
        <img
          src="images1/1.png"
          class="img-circle"
          alt="Cinque Terre"
          width="200"
          height="350"
        />
        <br /><br />
        <h3>Download the app</h3>
        <p>To download the app, go to the App Store or Google Play.</p>
      </div>

      <div class="col-sm-4">
        <img
          src="images1/signup.png"
          class="img-circle"
          alt="Cinque Terre"
          width="200"
          height="350"
        />
        <br /><br />
        <h3>Create an account</h3>
        <p>
          All you need is an email address and phone number. You can request a
          ride from your browser or from the Uber app.
        </p>
      </div>

      <div class="col-sm-4">
        <img
          src="images1/4.png"
          class="img-circle"
          alt="Cinque Terre"
          width="200"
          height="350"
        />
        <br /><br />
        <h3>Enter your destination</h3>
        <p>
          Open the app and enter where you’re going in the Where to? box. Tap to
          confirm your pickup location and tap Confirm again to be matched to a
          driver nearby.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img
          src="images1/your route.png"
          class="img-circle"
          alt="Cinque Terre"
          width="200"
          height="350"
        />
        <br /><br />
        <h3>Meet your driver</h3>
        <p>
          You can track their arrival on the map. When they’re a few minutes
          away, wait for them at your pickup location.
        </p>
      </div>

      <div class="col-sm-4">
        <img
          src="images1/meet.png"
          class="img-circle"
          alt="Cinque Terre"
          width="200"
          height="350"
        />
        <br /><br />
        <h3>Check your ride</h3>
        <p>
          For your personal safety, be certain that you’re getting into the
          right car. Before hopping in, check the driver, car model, and license
          plate number against the information in the app. Once you’re in the
          car, have your driver confirm your name before they go.
        </p>
      </div>

      <div class="col-sm-4">
        <img
          src="images1/10.png"
          class="img-circle"
          alt="Cinque Terre"
          width="200"
          height="350"
        />
        <br /><br />
        <h3>Get paid & rate your trip</h3>
        <p>
          Use cash or a payment method like a credit card or Uber Cash
          balance.Let us know how your trip went. You can also give your driver
          a compliment or add a tip in the app.
        </p>
      </div>

      <!-- <div class="col-sm-4">
        <img src="images/4.png" class="img-circle" alt="Cinque Terre" width="200" height="350">
      <br><br>
      <h3>Get support at every turn</h3>
      <p>If there’s anything that you need, you can reach us anytime.</p>
    </div> -->
    </div>
  </div>

  <!--Footer-->

  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="images1/wording.png" height="35px" alt="logo" />
          <p><br /></p>
          <hr class="light" />
          <br />
          <p>
            Sharecab@outlook.com<br />
            92/4, Samagi Niwasa<br />
            Molpe ,Moratuwa,<br />
            Sri Lanka, 30100
          </p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <br />
          <a href="https://www.facebook.com" target="_blank">Facebook</a>
          <br /><br />
          <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
          <br /><br />
          <a href="https://www.instagram.com" target="_blank">Instagram</a>
          <br /><br />
          <a href="https://www.youtube.com" target="_blank">Youtube</a>
          <br /><br />
          <hr class="light" />
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <br />
          <p>Industry Based Project</p>
          <p>Created by Sharks</p>
          <hr class="light" />
        </div>
        <div class="col-12">
          <hr class="light" />
          <h5><br />&copy; ShareCab by <i>Sharks</i></h5>
        </div>
      </div>
    </div>
  </footer>

  <!-- <div class="container-fluid text-center bg-grey ">
        <div id="demo" class="carousel slide" data-ride="carousel"> -->

  <!-- Indicators  -->
  <!-- <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul> -->

  <!-- The slideshow -->
  <!-- <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/ride9.png" alt="Los Angeles" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="images/ride10.jpg" alt="Chicago" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="images/ride11.jpg" alt="New York" width="600px" height="600px">
            </div>
          </div> -->

  <!-- Left and right controls -->
  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
</div> -->
</body>
