<h2>Welcome to <strong>ShareCab Admins</strong></h2>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <nav class="navbar navbar-light bg-light">
    <div class="btn-group">
      <button
        (click)="displayUserHistory2()"
        class="btn btn-outline-success btn-lg"
        type="button"
      >
        Registered Users
      </button>
      <br />
      <button
        (click)="displayUserHistory1()"
        class="btn btn-outline-success btn-lg"
        type="button"
      >
        Registered Drivers
      </button>
      <br />
      <button
        (click)="dispalyRideHistory()"
        class="btn btn-lg btn-outline-secondary"
        type="button"
      >
        Check Ride History
      </button>
      <br />
      <button
        (click)="displayData()"
        class="btn btn-lg btn-outline-secondary"
        type="button"
      >
        Check Feedbacks
      </button>
    </div>
  </nav>
</div>
<hr />
<table class="table table-striped" *ngIf="feedback">
  <tr>
    <th>User</th>
    <th>Country</th>
    <th>Message</th>
  </tr>
  <tr *ngFor="let f of feedback">
    <td>
      {{ f.firstName }} {{ f.lastName }}<br /><small class="text-muted">{{
        f.email
      }}</small>
    </td>
    <td>{{ f.country.name }}</td>
    <td>{{ f.subject }}</td>
  </tr>
</table>

<table class="table table-striped" *ngIf="history">
  <tr>
    <th>Driver</th>
    <th>Riders</th>
  </tr>
  <tr *ngFor="let h of history">
    <td>Name:{{ h.driver.name }} <br />Contact No: {{ h.driver.contact }}</td>
    <td>
      <p *ngFor="let u of h.riders">
        Name:{{ u.userDetails.name }} <br />Origin :({{ u.origin.lat }},{{
          u.origin.lng
        }})<br />
        Destinatioin : ({{ u.destination.lat }},{{ u.destination.lng }})<br />
        Contact No: {{ u.userDetails.contact }}
      </p>
    </td>
  </tr>
</table>

<table class="table table-striped" *ngIf="userDetails1">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let g of userDetails1">
    <td *ngIf="g.isDriver">{{ g.firstName }} {{ g.lastName }}</td>
    <td *ngIf="g.isDriver">{{ g.contact }}</td>
    <td *ngIf="g.isDriver">{{ g.email }}</td>
  </tr>
</table>

<table class="table table-striped" *ngIf="userDetails2">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let e of userDetails2">
    <td *ngIf="!e.isDriver">{{ e.firstName }} {{ e.lastName }}</td>
    <td *ngIf="!e.isDriver">{{ e.contact }}</td>
    <td *ngIf="!e.isDriver">{{ e.email }}</td>
  </tr>
</table>
