<div class="tab">
  <div class="container">
    <h1 class="text-center">Make your Ride Now!</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Request a Ride</h2>

        <!-- smartphone -->



        <!-- tablet -->


        <div class="tablet-portrait">
          <div class="form-group">
            <input placeholder="search for Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              class="form-control" #search [formControl]="searchControl">


          </div>

          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

            <agm-direction *ngIf="destination.lat!==null" [origin]="{lat: lat, lng:lng}" [destination]="destination">
            </agm-direction>

            <agm-marker *ngIf="destination.lat===null" [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>


        </div>



      </div>
    </div>
  </div>