<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShareCab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>


<!--- Image Slider -->

<!--image slider-->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
  </ul>


  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/cov1.jpeg">
    </div>
    <div class="carousel-item">
      <img src="images/cov2.jpeg">
    </div>
    <div class="carousel-item">
      <img src="images/cov3.jpeg">
    </div>
  </div>
</div>
<!--- Jumbotron -->
<div class="container-fluid">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">
        We're connecting riders with the best local drivers at the best prices. When you ride with ShareCab, We do our best to make
        the ride as seamless and comfortable as possible.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="#">
        <button type="button" class="btn btn-outline-secondary btn-lg ">Get the App
        </button>
      </a>
    </div>
  </div>
</div>



<!--- Three Column Section -->
<div class="container-fluid padding">
  <hr class="light">
  <br>
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3>Easiest way around</h3>
      <p>One tap and a car comes directly to you. Hop in—your driver knows exactly where to go. And when you get there, just
        step out. Payment is completely seamless.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3>Anywhere, anytime</h3>
      <p>Daily commute. Errand across town. Early morning flight. Late night drinks. Wherever you’re headed, count on ShareCab
        for a ride—no reservations required.</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Low-cost to luxury</h3>
      <p>Economy cars at everyday prices are always available. For special occasions, no occasion at all, or when you just
        a need a bit more room, call a van</p>
    </div>
  </div>
  <hr class="light">


</div>


<!--- Description -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-6"><br>How Sharecab Works...?<br></h1>
    </div>
  </div>
</div>

<!--- Three Column Section for Description -->
<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img class="row-image" src="images/u1.png" height="400px">

      <p><br>Choose a car that fits your style and budget, then set your location to request a ride.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img class="row-image" src="images/u2.png" height="400px">

      <p><br>Choose your ride mode & watch your driver arrive on the map.</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="row-image" src="images/u3.png" height="400px">

      <p><br>You can rate your driver and pay for the trip automatically through the app.</p>
    </div>
  </div>
  <hr class="light">
</div>


<!--- Meet the team -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4"><br>Meet the Team<br></h1>
    </div>

  </div>
</div>


<!--- Cards -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/m1.jpeg">
        <div class="card-body">
          <h4 class="card-title">Mahmood Nalim</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, harum animi porro a earum voluptatem laudantium. Error
            eius, deleniti enim quasi quam ipsam! Iste voluptas tempora dicta. Laudantium, adipisci delectus!

          </p>
          <a href="#" target="_blank" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/b1.png">
        <div class="card-body">
          <h4 class="card-title">Bushra Uwais</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, harum animi porro a earum voluptatem laudantium. Error
            eius, deleniti enim quasi quam ipsam! Iste voluptas tempora dicta. Laudantium, adipisci delectus!

          </p>
          <a href="#" target="_blank" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/a1.jpeg">
        <div class="card-body">
          <h4 class="card-title">Mohamed Ashfak</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, harum animi porro a earum voluptatem laudantium. Error
            eius, deleniti enim quasi quam ipsam! Iste voluptas tempora dicta. Laudantium, adipisci delectus!

          </p>
          <a href="#" target="_blank" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/d1.jpg">
        <div class="card-body">
          <h4 class="card-title">Dushanthini Archunan</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, harum animi porro a earum voluptatem laudantium. Error
            eius, deleniti enim quasi quam ipsam! Iste voluptas tempora dicta. Laudantium, adipisci delectus!

          </p>
          <a href="#" target="_blank" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/m2.jpeg">
        <div class="card-body">
          <h4 class="card-title">Mursith Akram</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, harum animi porro a earum voluptatem laudantium. Error
            eius, deleniti enim quasi quam ipsam! Iste voluptas tempora dicta. Laudantium, adipisci delectus!

          </p>
          <a href="#" target="_blank" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr class="light">
  <br>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>Our Philosopy</h2>
      <p>ShareCab is one of the innovative ride-sharing companies. ShareCab integrates city transportation for customers
        and driver-partners onto a mobile technology platform ensuring convenient, transparent, and quick service fulfilment.
        ShareCab is focused on leveraging the best of technology and building innovative solutions ground-up, that are relevant
        at global scale. </p>
      <p>ShareCab Play the first Shared Cab platform for ride-sharing is expected to be launched by 2019 January, transforming
        commuting experiences and setting the tone for global innovation in this space. Beyond offering a highly personal
        experience for users during their rides, ShareCab Play also allows loyalty customers the high quality interactive
        and productive experience. Using the ShareCab mobile app, passengers can connect with over 100+ driver-partners across
        cabs, auto-rickshaws, and vans. Driven by a hyperlocal approach, ShareCab is committed to its mission of building
        mobility for a billion people.
      </p>

    </div>
    <div class="col-lg-6">
      <p><br></p>
      <img src="images/drive.jpeg" alt="logo" class="img-fluid">
    </div>
  </div>
</div>



<!--- Footer -->
<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="images/wording.png" height="35px" alt="logo">
        <p><br></p>
        <hr class="light"><br>
        <p>Sharecab@outlook.com<br> 92/4, Samagi Niwasa<br> Molpe ,Moratuwa,<br> Sri Lanka, 30100</p>
      </div>
      <div class="col-md-4">
        <hr class="light"><br>
        <a href="https://www.facebook.com" target="_blank">Facebook</a>
        <br><br>
        <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
        <br><br>
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
        <br><br>
        <a href="https://www.youtube.com" target="_blank">Youtube</a>
        <br><br>
        <hr class="light">


      </div>
      <div class="col-md-4">
        <hr class="light"><br>
        <p>Industry Based Project</p>
        <p>Created by Sharks</p>
        <hr class="light">

      </div>
      <div class="col-12">
        <hr class="light">
        <h5><br>&copy; ShareCab by <i>Sharks</i></h5>
      </div>
    </div>
  </div>
</footer>



<!---https://stackoverflow.com/questions/41354755/what-is-the-best-way-to-delete-a-component-with-cli -->