agm-map {
  height: 600px;
  width: 1200px;
}
.tab {
  background-color: #c0c0c0;
}
.smartphone-portrait {
  padding: 55px 2%;
  border-radius: 30px;
  border: 0.5px solid #e0e0e0;
  background-color: #fff;
  width: 40%;
  float: left;
  box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1),
    1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
}

.smartphone-landscape {
  padding: 2% 55px;
  border-radius: 30px;
  border: 0.5px solid #e0e0e0;
  background-color: #fff;
  width: 90%;
  float: left;
  box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1),
    1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
}

.tablet-portrait {
  height: 600px;
  padding: 10px;
  border-radius: 30px;
  border: 0.5px solid #e0e0e0;
  background-color: #2f4f4f;
  width: 100%;

  box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1),
    1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
}

.tablet-landscape {
  padding: 2% 65px;
  border-radius: 30px;
  border: 0.5px solid #e0e0e0;
  background-color: #fff;
  width: 100%;
  float: left;
  box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1),
    1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
}
