<div class="tab">
  <!-- <div class="container-fluid"> -->
  <h1 class="text-center">Make your Drive Now!</h1>
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="row">
            <div class="col-md-8">
              <!--
                <div class="form-group">
                <input

                  placeholder="search for Destination"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="off"
                  type="text"
                  class="form-control"
                  #search
                  [formControl]="searchControl"
                />
              -->

              <!--map-->
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-direction
                  *ngFor="let r of routes"
                  [origin]="r.origin"
                  [destination]="r.destination"
                >
                </agm-direction>

                <agm-marker
                  *ngIf="destination.lat === null"
                  iconUrl="images\ww.png"
                  [visible]="true"
                  [latitude]="lat"
                  [longitude]="lng"
                ></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>

        <!--
          <div class="col-md-4" *ngIf="destination.lat">
            <button class="btn btn-primary" (click)="getDetails()">Details</button>
            <div
              [hidden]="!showDetails"
              class="bg-primary text-light p-3"
              id="details-banner"
            >
              <p id="duration"></p>
              <p id="distance"></p>
            </div>
          </div>
        -->

        <!--table rider details-->
      </div>
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h5>Feeds</h5>
          <table class="table table-striped">
            <tr *ngFor="let a of addr" class="form-check">
              <td>
                <!--
                  <input
                  type="checkbox"
                -->
                <input
                  class="form-check-input"
                  [(ngModel)]="a.isChecked"
                  name="{{ a }}"
                  type="checkbox"
                  (change)="onChangeCategory($event.target.checked, a)"
                />
                <!--
                  <label class="form-check-label" for="{{a.name}}">
                    {{ a.name }}
                  </label>
                  id="{{a}}"
                -->

                <!-- /> -->
              </td>
              <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
              <td>
                {{ a.ud.firstName }} {{ a.ud.lastName }} {{ a.ud.contact }}
              </td>
              <td>{{ a.od.results[0].formatted_address }}</td>
              <td>
                {{ a.dd.results[0].formatted_address }} ({{
                  a.isPrivate ? "Private" : "Shared"
                }})
              </td>
            </tr>
          </table>
        </div>

        <!-- </div> -->
      </div>
      <button *ngIf="!isDriving" class="btn btn-primary" (click)="onClicked()">
        Confirm
      </button>
      <button class="btn btn-primary" *ngIf="isDriving" (click)="deleteRide1()">
        Cancel your drive
      </button>
      <ul>
        <li class="text" *ngFor="let item of items | async">
           {{item.name}}
        </li>
      </ul>

      <h2 *ngIf="isDriving">You are Now on your Drive</h2>

      <button class="btn btn-primary" *ngIf="isDriving" (click)="deleteRide()">
        End your drive
      </button>
    </div>
  </div>
</div>

<!--
  </div>
  </div>
-->
