<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShareCab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>

  <!--- Description -->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-6"><br>ShareCab needs partners like you.<br></h1>
        <p>Drive with ShareCab and earn great money as an independent contractor. Get paid weekly just for helping our community
          of riders get rides around town. Be your own boss and get paid in fares for driving on your own schedule.</p>
        <button type="button" class="btn btn-outline-dark btn-lg">Book Your Car</button>
      </div>
    </div>
  </div>


  <!--- Three Column Section -->
  <div class="container-fluid padding">
    <hr class="light">
    <br>
    <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="images/2.png" width="100px">
        <h3>Make good money.</h3>
        <p>Got a car? Turn it into a money machine. The city is buzzing and ShareCab makes it easy for you to cash in on
          the action. Plus, you've already got everything you need to get started.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="images/3.png" width="100px">
        <h3>Drive when you want.</h3>
        <p>Need something outside the 9 to 5? As an independent contractor with ShareCab, you’ve got freedom and flexibility
          to drive whenever you have time. Set your own schedule, so you can be there for all of life’s most important moments.</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <img src="images/a.png" width="100px">
        <h3>No office, no boss.</h3>
        <p>Whether you’re supporting your family or saving for something big, ShareCab gives you the freedom to get behind
          the wheel when it makes sense for you. Choose when you drive, where you go, and who you pick up.</p>
      </div>
    </div>
    <hr class="light">


  </div>





</body>