<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Overview</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    crossorigin="anonymous"
  />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="basic"><p>There When You Need Us!</p></div>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <pre> <h3>You can request you ride here</h3></pre>
        <a href="#" class="button">Sign Up to ride </a>
      </div>

      <div class="col-sm-6">
        <img
          src="images1/ride2.jpg"
          class="img-circle"
          alt="Cinque Terre"
          width="500"
          height="400"
        />
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid text-center">
       <h1><b>Why ride with ShareCab?</b></h1>
        <br><br>
        <div id=ride>
        <div class="row">
        <img src="images/ride3.jpg" class="img-circle" alt="Cinque Terre"  margin-left:auto margin-right:auto width="500" height="400" > 
        </div>
        </div>
        </div> -->

  <!-- Container (About Section) -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <br />
        <br />
        <br />
        <h1><b>About ShareCab</b></h1>
        <!-- <h4>Lorem ipsum..</h4>       -->
        <p>
          ShareCab is friendly traveling service with carpooling. It is smooth
          and smart travel, with the emphasis on safety for all. ShareCab is a
          trusted community marketplace that connects drivers with empty seats
          to co-travelers looking for a ride. ShareCab ride every quarter
          creating an entirely new, people-powered network with a dedicated
          customer service, a state of the art mobile platform, and a
          fast-growing community of users, ShareCab is making travel social,
          money-saving and more efficient for millions of members.
        </p>
        <a href="#" class="button">Get in touch </a>
      </div>

      <div class="col-sm-6">
        <span style="font-size:20px; color: Tomato;">
          <img
            src="images1/logo.png"
            class="img-circle"
            alt="Cinque Terre"
            width="500"
            height="400"
          />
          <!-- <i class="fas fa-stroopwafel fa-10x"></i> -->
        </span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4"><i class="fas fa-taxi fa-10x"></i></div>

      <div class="col-sm-8">
        <br /><br />
        <h1><b>Our Values</b></h1>
        <h4><strong>VISION</strong></h4>

        <p>
          This is the journey we have set for ourselves – and every ride request
          that we receive every minute of every day in this country is a
          stirring testament to the trust that we’ve earned from all
          stakeholders in such a short time.
        </p>
      </div>
    </div>
  </div>

  <!-- Container (Services Section) -->

  <div class="container-fluid text-center ">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>

    <br />

    <div class="row">
      <div class="col-sm-4">
        <i class="fas fa-power-off fa-2x"></i> <br /><br />
        <h3>Rides on Demand</h3>
        <p>
          Get a reliable ride in minutes, at any time and on any day of the
          year.
        </p>
      </div>

      <div class="col-sm-4">
        <i class="fas fa-heartbeat fa-2x"></i> <br /><br />
        <h3>Budget-friendly options</h3>
        <p>
          Compare prices on every kind of ride, from daily commutes to special
          evenings out.
        </p>
      </div>

      <div class="col-sm-4">
        <i class="fas fa-lock fa-2x"></i> <br /><br />
        <h3>An easy way to get arround</h3>
        <p>Tap and let your driver take you where you want to go.</p>
      </div>
    </div>
  </div>

  <!-- Container (our customers) -->
  <div class="container-fluid bg-black">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="whitetext"><b>Our customers</b></h1>
        <br />
        <h3 class="whitetext">
          THE SHARECAB ECO-SYSTEM THRIVES ON THE DEMANDS OF OUR CUSTOMERS.
        </h3>
        <!-- <h4>Lorem ipsum..</h4>       -->
        <p class="whitetext">
          And our mission is to serve them well repeatedly, while learning from
          every request and every ride of every customer. Our ever-evolving
          eco-system has allowed our customers, both individuals and
          organizations, to simplify their transport needs. From our customers,
          we’ve learnt how much easier it is for them to forecast their
          transport spend, making it easier to budget and, ultimately, easier on
          their wallets. Large organizations, meanwhile, have built a close
          relationship with PickMe in order to help transport their teams, big
          and small.
        </p>
      </div>

      <div class="col-sm-6">
        <span style="font-size:20px; color: Tomato;">
          <img
            src="images1/ride7.jpg"
            class="img-circle"
            alt="Cinque Terre"
            width="500"
            height="400"
          />
          <!-- <i class="fas fa-stroopwafel fa-10x"></i> -->
        </span>
      </div>
    </div>
  </div>

  <div class="container-fluid  ">
    <h1><b>Your safety matters</b></h1>
    <h5>Peace of mind is designed into your experience.</h5>

    <br />

    <div class="row">
      <div class="col-sm-4">
        <img
          src="images1/shield2.png"
          class="img-circle"
          alt="Cinque Terre"
          height="130"
          width="120"
        />
        <br /><br />
        <h4><b>Rides on Demand</b></h4>
        <p>
          Tell your loved ones where you are. Get help with the tap of a button.
          Technology makes travel safer than ever before.
        </p>
      </div>

      <div class="col-sm-4">
        <img
          src="images1/community.png"
          class="img-circle"
          alt="Cinque Terre"
        />
        <br /><br />
        <h4><b>An inclusive community</b></h4>
        <p>
          We are millions of riders and drivers who share Community Guidelines
          and depend on one another to do the right thing.
        </p>
      </div>

      <div class="col-sm-4">
        <img
          src="images1/question.png"
          class="img-circle"
          alt="Cinque Terre"
          height="165"
          width="145"
        />
        <br />
        <h4><b>Help if you need it</b></h4>
        <p>
          Get 24/7 support in the app for any questions or safety concerns you
          might have.
        </p>
      </div>
    </div>
  </div>

  <br />
  <br />

  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="images1/wording.png" height="35px" alt="logo" />
          <p><br /></p>
          <hr class="light" />
          <br />
          <p>
            Sharecab@outlook.com<br />
            92/4, Samagi Niwasa<br />
            Molpe ,Moratuwa,<br />
            Sri Lanka, 30100
          </p>
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <br />
          <a href="https://www.facebook.com" target="_blank">Facebook</a>
          <br /><br />
          <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
          <br /><br />
          <a href="https://www.instagram.com" target="_blank">Instagram</a>
          <br /><br />
          <a href="https://www.youtube.com" target="_blank">Youtube</a>
          <br /><br />
          <hr class="light" />
        </div>
        <div class="col-md-4">
          <hr class="light" />
          <br />
          <p>Industry Based Project</p>
          <p>Created by Sharks</p>
          <hr class="light" />
        </div>
        <div class="col-12">
          <hr class="light" />
          <h5><br />&copy; ShareCab by <i>Sharks</i></h5>
        </div>
      </div>
    </div>
  </footer>

  <!-- <div class="container-fluid text-center bg-grey ">
            <div id="demo" class="carousel slide" data-ride="carousel"> -->

  <!-- Indicators  -->
  <!-- <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul> -->

  <!-- The slideshow -->
  <!-- <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/ride9.png" alt="Los Angeles" width="600px" height="600px">
                </div>
                <div class="carousel-item">
                  <img src="images/ride10.jpg" alt="Chicago" width="600px" height="600px">
                </div>
                <div class="carousel-item">
                  <img src="images/ride11.jpg" alt="New York" width="600px" height="600px">
                </div>
              </div> -->

  <!-- Left and right controls -->
  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>
    </div> -->
</body>
